* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    padding-left: 25px;
    padding-top: 25px;

    display: grid;
    
    grid-template-columns: calc(5% - 25px) calc(45% - 25px) calc(20% - 25px) calc(15% - 25px) calc(15% - 25px);
    grid-template-rows: calc(25% - 25px) calc(50% - 25px) calc(25% - 25px);

    grid-template-areas:
        "nav about-me heading heading heading"
        "nav about-me center center right-center"
        "nav about-me bottom-center right-bottom right-bottom"
    ;
    gap: 25px;
}

nav {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding-top: 40px;
    font-weight: 900;

    grid-area: nav;
    display: flex;
    flex-wrap: wrap;
    flex-direction: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

.about-me {
    background-color: crimson;
    grid-area: about-me;
}

.heading {
    font-size: 120px;
    letter-spacing: 5px;
    grid-area: heading;

    display: flex;
    align-items: center;
}

.center {
    background-color: antiquewhite;
    grid-area: center;
}

.center img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 25px;
}

.right-center {
    grid-area: right-center;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rc-ss {
    height: 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rc-ss span {
    font-size: 50px;
    font-weight: 900;
}

.rc-ss div {
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 5px;
}

#rc-ss-1 {
    background-color: rgb(155, 223, 219);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#rc-ss-2 {
    color: white;
    background-color: rgb(182, 138, 226);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.bottom-center {
    background-color: yellow;
    grid-area: bottom-center;
}

.right-bottom {
    background-color: gray;
    grid-area: right-bottom;
}