* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

main {
    height: 120vh;
    width: 100%;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 12px;
    padding-top: 12px;

    display: grid;
    
    grid-template-columns: calc(22% - 12px) calc(28% - 12px) calc(28% - 12px) calc(22% - 12px);
    grid-template-rows: calc(30% - 12px) calc(18% - 12px) calc(24% - 12px) calc(28% - 12px);

    grid-template-areas:
        "left-top top-center-1 top-center-2 right-top"
        "left-top center center right-top"
        "left-center center center right-bottom"
        "left-bottom left-bottom bottom-center right-bottom"
    ;
    gap: 12px;
}

.left-top {
    position: relative;
    background-image: url("https://im.whatshot.in/img/2022/Nov/istock-901960792-61b7146334820-1667548399.jpeg");
    background-size: cover;
    grid-area: left-top;
    border-radius: 25px;
}

.left-top i {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    padding: 5px;
    color: white;
    background-color: black;
    border-radius: 999px;
}

.left-center {
    background-color: lightgreen;
    grid-area: left-center;
    border-radius: 25px;
}

.left-bottom {
    background-color: crimson;
    grid-area: left-bottom;
    border-radius: 25px;
}

.right-top {
    background-color: palevioletred;
    grid-area: right-top;
    border-radius: 25px;
}

.right-bottom {
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1571455786673-9d9d6c194f90?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-color: lightseagreen;
    grid-area: right-bottom;
    border-radius: 25px;
}

.right-bottom span {
    position: absolute;
    left: 30px;
    top: 220px;
    color: white;
    font-weight: 900;
    width: 60%;
}

.right-bottom i {
    position: absolute;
    right: 0px;
    bottom: 30px;
    color: white;
    font-size: 80px;
}

.right-bottom div {
    position: absolute;
    left: 30px;
    bottom: 30px;
    color: black;
    background-color: yellow;
    width: 50%;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    
}

.top-center-1 {
    background-color: mediumpurple;
    grid-area: top-center-1;
    border-radius: 25px;
}

.top-center-2 {
    background-color: orange;
    grid-area: top-center-2;
    border-radius: 25px;
}

.center {
    background-color: rgb(248, 227, 200);
    grid-area: center;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.center i {
    font-size: 80px;
}

.center h1 {
    font-size: 70px;
}

.bottom-center {
    background: url("https://images.unsplash.com/photo-1599058917212-d750089bc07e?q=80&w=869&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    grid-area: bottom-center;
    border-radius: 25px;
}
